html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #E6E6E6;
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-attachment: fixed;
  overflow-x: hidden;
}

nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: -99;
}

nav img {
  width: 55vw;
}

article {
  display: grid;
  padding-top: 13%;
  min-height: 100vh;
}


article div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  place-items: center;
}

article div a {
  background-color: #BDBDBD;
  padding: 10px 10px;
  border-radius: 9px;
  text-decoration: none;
  color: #000;
  width: 90vw;
  max-width: 400px;
  margin: 10px 10px;
}

article div a img {
  width: 90vw;
  max-width: 400px;
  border-radius: 7px;
}