.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.innerWebCanvas{
  display: grid;
  padding-top: 2vh;
}

.textLabelBar{
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  font-family: "Rock Salt";
}

.textLabelBar h2{
  margin: 2vw;
  font-size: 5vw;
  color: #525252;
}

.gameItems{
  display: flex;
  width: 100vw;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.gameItem{
  background-color: #525252;
  margin: 0 1vw;
  padding: 2vw;
  border-radius: 4vw;
  font-family: "Open Sans";
}

.gameImage{
  width: 25vw;
  border-radius: 2vw
}

.gameName{
  margin: 0px;
  margin-top: 0.2vh;
  font-size: 5vw;
  color: #FFFAF6;
}

.gameUrl{
  right: 3vh;
  font-size: 3vw;
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
}

.sourceItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.sourceItem{
  display: flex;
  margin: 2vw;
}

.sourceImage{
  width: 15vw;
  height: 15vw;
  margin-right: 2vw;
  border-radius: 2vw;
}

.sourceText{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sourceName{
  margin: 0;
  font-size: 6vw;
}

.sourceInfo{
  margin: 0;
  font-size: 3vw;
}

.productItems{
  display: flex;
  width: 100vw;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;  
}

.productItem{
  border-radius: 5vw 5vw 3vw 3vw;
  padding: 2vw;
  background-color: #525252;
  margin: 2vw;
}

.productImage{
  height: 30vh;
  width: 85vw;
  border-radius: 3vw;
}

.productName{
  margin: 0px 1vw;
  font-size: 6vw;
  color: #FFFAF6;
}